{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
    <div class="container">
      <h1 class="text-center pt-3">Welcome to Jordan's Blog</h1>
      <br />
      <br />
      <h2>Latest Posts</h2>
      <hr />
      {% for blog in blogs.all %}
        <div class="card">
          <div class="card-header">
            <a href="{% url 'detail' blog.id %}"><h5 class="card-title">{{ blog.title }}</h5></a>
            <small class="text-muted">{{ blog.pub_date_short }}</small>
          </div>
          <div class="card-body">
            <img src="{{ blog.image.url }}" class="img-fluid" width="25%">
            <p class="card-text"> {{ blog.summary }} </p>
          </div>
          </div>
          <br />
        {% endfor %}
        <hr>
    </div>

{% endblock %}
