{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Hi, I'm Jordan.</h1>
        <p class="lead text-muted">I am an experienced leader with proven history of managing high-performing teams in the information technology and SaaS industry. I love learning, getting things done, making new stuff and developing people.</p>
        <img src="{% static 'portrait.jpeg' %}" class="img-fluid img-thumbnail" style="max-width: 25%" alt="jordan portrait">
        <p>
          <a href="#" class="btn btn-primary my-2">Contact Me</a>
        </p>
      </div>
    </section>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          {% for job in jobs.all %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="{{ job.image.url }}" alt="">
              <div class="card-body">
                <p class="card-text">{{ job.summary }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>


{% endblock %}
